
<div class="container">

  <header class="logo">
    <h1>Accessible <span class="blue">routes</span></h1>
    <h2 class="route-desc"><span class="text-muted">from</span> <%= @direction.start.split(' ').map {|w| w.capitalize }.join(' ') %> <span class="text-muted">to</span> <%= @direction.destination.split(' ').map {|w| w.capitalize }.join(' ') %></h2>
  </header>

  <% routes_option_counter = 1 %>
  <% @routes.each do |route| %>
    <div class="row">
      <h2 class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <i class="fa fa-wheelchair blue"></i>
        Route <%= routes_option_counter %>
        <% routes_option_counter += 1 %>
      </h2>

      <article class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <ul>
          <li class='route-distance'>Total Distance: <%= route['distance'] %></li>
          <li class='route-duration'>Approximate Duration: <%= route['duration'] %></li>
          <li class='route-directions'>Directions</li>
          <ul>
            <% route['route'].each do |step| %>
              <% if step == route['route'].first %>
                <li class='route-first'><%= step['distance'] %> - <%= step['instruction'] %></li>
              <% elsif step == route['route'].last %>
                <li class='route-last'><%= step['distance'] %> - <%= step['instruction'] %></li>
              <% else %>
                <li><%= step['distance'] %> - <%= step['instruction'] %></li>
              <% end %>
            <% end %>
          </ul>
        </ul>

      </article>
    </div>
  <% end %>
</div>
